* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

.todos {
  padding: 0;
  list-style: none;
  font-size: 1.5em
}

.todo {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid gainsboro;
}

.todo.done {
  text-decoration: line-through;
}

.todo .btns {
  float: right;
}

.btn {
  cursor: pointer;
  color: aliceblue;
  background-color: #fa9406;
  border: 0;
  border-radius: 4px;
}
.status-filter{
  margin: 0 auto;
}
.btn:hover {
  background-color: cornflowerblue;
  color: white;
}

.btn-danger {
  background-color: rgba(140, 78, 24, 0.74);
}

button {
  width: fit-content;
  border: 1px solid grey;
  background-color: rgba(44, 56, 70, 0.71);
  border-radius: 5px;
}

/* .todo::before {
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 10px;
  background-color: aquamarine;
}

.todo.done::before {
  content: "\2022";
} */

.todos-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.flex {
  display: flex;
}